body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hdr {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
     
}
.name {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.r {
    color: #FD6E0A;
}
ul {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    margin-right: 50px;
}
a {
    text-decoration: none;
    color: #474747;

}
.btn {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;    
}
.banner {
    display: flex;
    padding: 30px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;
}
.pic {
    width: 500px;

}
.hi {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}
.Mary {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 20px;
}
.p {
    margin-top: 0px;
    width: 500px;

}
main {
    max-width: 1140px;
    margin: 0px auto;
}
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    
}
.abt-me {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.p2{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 20px;
}
.about-info {
    display: flex;
    justify-content: space-around;
}
.abt-inf {
    text-align: center;
}
.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;
}
.skill-cntnt {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 24px;
    padding: 30px;
}
.resume-column {
    display: flex;
    justify-content: space-around;
}
.resume-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-item-title {
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-item-info {
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.resume-des {
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal; /* 175% */
width: 511px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}
footer {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    
    background-color: #FFF8F3;
    margin-top: 50px;
.footer-column {
    width: 50%;
    text-align: left;
    margin-left: 100px;
}
.contact input, textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #474747;
    width: 80%;
}
.social-link a {
    margin-right: 25px;
}






